@page "/account-details/{Id:int}"
@using Application.Dtos
@using UI.Services
@inject AccountService _accService

<h3>Account Details</h3>

@if (isLoading)
{
    <div class="spinner-border text-primary" role="status">Loading...</div>
}
else if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <i class="bi bi-exclamation-triangle-fill me-2"></i>
        <div>@ErrorMessage</div>
    </div>
}
else
{
    <div class="card shadow-sm p-4">
        <h4>@account.Name</h4>
        <p>Type: @account.Type</p>
        <p>Balance: @account.Balance.Amount.ToString("C")</p>
    </div>
}

<h4 calss="fw-bold mt-4 mb-3">Transaction History</h4>
<table class="table table-hover border">
    <thead class="table-light">
        <tr>
            <th scope="col">Data</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2026-04-22</td>
            <td>Grocery Store</td>
            <td class="text-end fw-semibold text-danger"> -$50.00 </td>
        </tr>
    </tbody>
</table>


@code{
    [Parameter]
    public int Id{ get; set; }
    private string? ErrorMessage;
    private AccountDto? account;
    private bool isLoading = true;


    protected override async Task OnInitializedAsync()
    {
        var result = await _accService.GetAccount(Id);
        if (result.IsSuccess)
            account = result.Value;
        else
            ErrorMessage = result.ErrorMessage;

        isLoading = false;
    }
}