@page "/"
@using UI.Components

<PageTitle>Home - My Finance App</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <BalanceCard Amount="15250.75m" />
        </div>
    </div>
</div>