@page "/"
@using UI.Components

<PageTitle>Home - My Finance App</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <BalanceCard Amount="15250.75m" />
        </div>
    </div>
</div>

<div class="mt-5">
    <h5 class="mb-4 fw-bold">Recent Activity</h5>

    <TransactionItem Title="Monthly Salary" Amount="5000" Date="DateTime.Now" Icon="bi-wallet2" IsIncome="true" />
    <TransactionItem Title="Starbucks Coffee" Amount="5.50m" Date="DateTime.Now.AddHours(-2)" Icon="bi-cup-hot" IsIncome="false" />
    <TransactionItem Title="Netflix Subscription" Amount="15.99m" Date="DateTime.Now.AddDays(-1)" Icon="bi-play-circle" IsIncome="false" />
</div>