@using Application.Shared.DTOs
@using Domain.Entities
@inject HttpClient _client;

<div class="container">
    <h3>CreateTodo</h3>

    <EditForm OnSubmit="CreateTodoAsync" Model="formModel">
        <InputText @bind-Value="@formModel.Title" />
        <button type="submit">Create a Task</button>
    </EditForm>
</div>



@code {
    private CreateTodoForm formModel = new();
    [Parameter]
    public EventCallback<string> ErrorMessage { get; set; }
   

    public async Task CreateTodoAsync()
    {
            var result = await _client.PostAsJsonAsync("api/todos", formModel);
            if (!result.IsSuccessStatusCode)
                await ErrorMessage.InvokeAsync("The todo is not created");

    }

}
