@page "/"
@using Application.DTOs
@using Domain.Entities
@using UI.Services
@inject TodoService TodoService

<div class="container mt-5">

    <h1 class="mb-4">Todo App</h1>

    <!-- Create section -->
    <div class="input-group mb-3">
        <input class="form-control" placeholder="Enter todo..." @bind="title" />
        <button class="btn btn-primary" @onclick="AddTodo">Add</button>
    </div>

    <!-- List section -->
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Sample Todo
            <button class="btn btn-success btn-sm">Done</button>
        </li>
    </ul>

</div>


@code {
    private string title = string.Empty;
    private List<TodoItem> todos = new();

    private async Task AddTodo()
    {
        var dto = new CreateTodoDto(title);

        var result = await TodoService.CreateTodoAsync(dto);


        if (result != null && result.Success)
        {
            todos.Add(result.Data); // update UI state
            title = "";
        }
    }
}